/*超过省略*/
/*一行省略*/
text {
	width: 100px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*n行省略*/
text {
	width: 100px;
	overflow: hidden;
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:n;
	word-break: break-all;
}
/*备注：
加省略号text-overflow: ellipsis;
不显示text-overflow:clip;

去掉div里面的图片的图片高度*/
line-height: 0;
设置图片
display: block;
vertical-align: bottom;
box-align:0;
居中
垂直居中
多行文本水平居中

设置两个div同行
一个固定长度，一个自适应
.div {
overflow:hidden;
}
.left {
width: 100px;
float:left;
}
.right {
// 不设置宽度
}

多个div并排，宽度均等分，中间有边框
<div class="main">
<div class="li></div>
<div class="li></div>
<div class="li></div>
</div>
.main {
width:100px;
}
.li {
-webkit-flex: 1;
border-right: 1px solid #111;
}
.li:last-child {
border-right: 0;
}
或
.li {
-webkit-flex: 1;
border-left: 1px solid #111;
}
.li:first-child {
border-left: 0;
}